// 用户管理
.table-wrapped {
    padding: 8px;
    height: calc(100vh - 105px);
    background-color: #f1f3f6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .table-top {
        border:1px solid #e4e4e7;
        
        .table-header {
            padding: 0 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 48px;
            background-color: #fff;
            .left_wrapped {
                display: flex;

                .search-wrapped {
                    margin-right: 24px;
                }
                .select-wrapped {
                    width: 240px;
                }
            }

            .el-input__wrapper {
                height: 32px;
            }
        }
    }

    .table-footer {
        display: flex;
        justify-content: center
    }
}